.jumbotron{
	background-color: green;
	color: white; 
	margin-top: 50px;
}
footer{
	padding: 10px 10px 10px 10px;
	background-color: #00FFFF;
	margin-bottom: 5px;
	margin-top: 20px
}
.card.hotel{
	flex: 1 200px;
	margin-top: 10px;
}
.btn-reserva{
	width: 100%;
	border-radius: 10px;

}

.footer-address-icon{
	padding-right: 10px;
}

.img-fluid{
	max-width: 100%;
	height: auto;
}